/* START OF NAVIGATION */

/* START OF NAV MOB MENU */

#main-nav {
  margin-bottom: 3rem;
}
.mobile-menu {
  padding: 1.5rem 2rem;
  /* font-family: "Anonymous Pro", monospace; */
}

.nav-mobile {
  position: absolute;
  top: 9rem;
  right: calc(100vw - 1.5rem);
  background: #914BB8;
  z-index: 1;
  width: 200px;
  opacity: 0;
  transition: all 0.5s ease;
}

.checkbtn{
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

#check {
  display: none;
}

#check:checked ~ .nav-mobile {
  opacity: 1;
  right: 1.5rem;
}

#check:checked ~ .checkbtn #burguer-menu {
  color: #914BB8;
}

.nav-mobile a {
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
  text-decoration: none;
  text-align: right;
}

.nav-mobile a:hover {
  color: #cccccc;
}

/* END OF NAV MOB MENU */

/* END OF NAVIGATION */

.logo {
  margin-left: 3rem;
}


.logo h1 {
  font-family: 'Damupi', 'Anonymous Pro', monospace;
  color: #ff0000; /* Bright red */
}

.logo h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #ff0000;
}

.nav-box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: none;
}

/* MEDIA QUERIES */

/* 2xl */
@media (min-width: 1536px) {
  
  .desktop-menu {
    display: inline-block;
  }
  
  .desktop-menu ul {
    font-size: var(--h6-size);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .desktop-menu ul li {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none; 
  }

  .desktop-menu a {
    font-size: var(--menu-size);
    text-decoration: none;
    color: var(--element1);
    display: block;
    position: relative;
    padding: 4px 0;
  }
  
  .desktop-menu a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: red;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 50% 50%;
  }

  .desktop-menu a:hover::before{
    transform: scale3d(1,1,1);
    transform-origin: 50% 50%;
    background: red;
  }
}

/* 2xl */
@media (max-width: 1536px) {
  
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: inline-block;
  }
  
  .desktop-menu ul {
    font-size: var(--h6-size);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .desktop-menu ul li {
    display: inline-block;
    margin: 0 10px;
    list-style-type: none; 
  }

  .desktop-menu a {
    font-size: var(--menu-size);
    text-decoration: none;
    color: var(--element1);
    display: block;
    position: relative;
    padding: 4px 0;
  }
  
  .desktop-menu a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: red;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 50% 50%;
  }

  .desktop-menu a:hover::before{
    transform: scale3d(1,1,1);
    transform-origin: 50% 50%;
    background: red;
  }
}

/* sm */
@media (max-width: 640px) {
  
  nav .logo img {
    width: 50%;
  }
  .desktop-menu {
    display: none;
  }
  
  .mobile-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .mobile-menu img {
    width: 40px;
    padding: 15px;
  }
}

/* xs */
@media (max-width: 475px) {

  .desktop-menu {
    display: none;
  }  
    
  .mobile-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .mobile-menu img {
    width: 40px;
    padding: 15px;
  }
}
